<%= form_with(model: @comment, local: true) do |form| %>
  <div class="form-group col-4">
    <%= form.text_field :body, class: "form-control", 'tab-index, col-4': 3, rows: 1, placeholder: "Comment here!" %>
    <%= form.hidden_field :post_id, value: "#{post.id}" %>
  </div>
  <%= form.submit "Comment!", class: "btn btn-secondary col-4", 'tab-index': 4  %>
<% end %>
