<div class="card mb-4" id="tweet-<%= post.id %>">
    <div class="card-body">
        <p><i><small><%= post.username.capitalize %> <%= time_ago_in_words(post.created_at) %></small></i><br>
        <%= post.body %></p>

        <%= link_to "#", class: "card-link", data: { reflex: "click->PostsReflex#like", id: post.id } do %>
          <%= tag.span post.likes_count, id: "post-#{post.id}-like" %> likes
        <% end %>
        <%= link_to "#", class: "card-link", data: { reflex: "click->PostsReflex#repost", id: post.id } do %>
          <%= tag.span post.reposts_count, id: "post-#{post.id}-repost" %> reposts
        <% end %>
    </div>
    <div class="card-footer">
      <%= render partial: "comments/form", locals: { post: post } %>
      <div id="comments-<%= post.id %>">
        <%= render partial: "comments/comment", collection: post.comments %>
      </div>
    </div>
  </div>
