<%= form_with model: @post, local: true, html: { class: "border mb-4 bg-light p-4"} do |form| %>
  <div class="form-group">
    <label for="body">New tweet?</label>
    <%= form.text_area :body, class: "form-control", 'tab-index': 1, rows: 3 %>
  </div>
  <%= form.submit "Tweet this!", class: "btn btn-primary full-length", 'tab-index': 2  %>
<% end %>
