<!DOCTYPE html>
<html>
  <head>
    <title>Stimulustest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-secondary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8 offset-2">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
